.cart{
    background-color: whitesmoke;
    padding: 20px 18px 18px;
    display: flex;
    gap: 10px;
}


.topLeftCart{
    padding: 20px 15px 15px;
    box-sizing: border-box;
    width: 77%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.topLeftCartTitle{
    font-size: 28px;
}
.desellectAllCart{
    color:#007185;
}
.cartPriceTextDivider{
    text-align: end;
}

.cartItemsDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cartItemBlock{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #e7e7e7;

}
.cartItemLeftBlock{
    display: flex;
    width: 80%;
}

.cartItemLeftBlockImage{
    width: 20%;
    flex-shrink: 0;
}
.cartItemLeftBlockImg{
    width: 100%;
}

.cartItemLeftBlockDetails{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 7px;

}
.cartItemProductName{
    font-size: 18px;
}
.inStockCart{
    color: #007600;
    font-size: 12px;
}
.elgFreeShp{
    color: #565959;
    font-size: 12px;
}
.amazonFullFilledImage{
    width: 66px;
}
.fullfillImg{
    width: 100%;
}
.removeFromCart{
    padding: 5px;
    font-size: 14px;
    background-color: #febd69;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}
.cartItemRightBlock{
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
}


.topRightCart{
    padding: 20px 15px 15px;
    box-sizing: border-box;
    width: 23%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    
}
.subTotalTitle{
    font-size: 18px;
    font-weight: 500;
}
.subTotalTitleSpan{
    font-weight: 700;
}
.giftAddto{
    display: flex;
    margin: 10px 0;
}

.proceedToBuy{
    font-size: 14px;
    background-color: #febd69;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
}