.navbarBanner{
    background-color: #232f3e;
    
    padding: 0 0 0 11px;
    display: flex;
    height: 39px;
    justify-content: space-between;
    color: white;
}

.navbarBannerOptionsLeft{
    display: flex;
}
.optionsNavbarBanner{
    display: flex;
    padding: 8px 9px;
    justify-content: center;
    text-decoration: none;
    color: white;
    align-items: center;
    cursor: pointer;
    &:hover{
        border: 1px solid;
        border-radius: 3px;
    }
}
.allOptionsNavbarBanner{
    font-size: 14px;
    padding-left: 5px;
    font-weight: 400;
}

.navbarBannerRightSide{
    &:hover{
        border: 1px solid;
        border-radius: 2px;
        cursor: pointer;
    }
}